:root {
  --color-primary-gradient: linear-gradient(110deg, #f65900, #ff026c);
  --color-primary: #f65900;
}

html * {
  font-family: "Noto Sans Arabic", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  overflow-x: hidden;
  margin: 1px;
  /* height: 100%; */
}
